
body {
    margin: 0;
    text-align: center;
    background-image: url("../images/background2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1 {
    color: #e8eeee;
    font-size: 100px;
    font-family: 'Permanent Marker', cursive;
    padding-top: 10%;
    margin-block-start: 0px;
    margin-block-end: 0px
}

@media screen and (min-width: 360px) and (max-width: 768px) {
    h1 {
        font-size: 70px;
        padding-top: 100px;
        padding-left: 80px;


    }
  }

h2 {
    color: #11999E;
    font-family: 'Times New Roman', sans-serif;
    font-size: 40px;

}


.person {
    margin-top: 70px;
    width: 15%;
    margin-bottom: 20px;

}

@media screen and (min-width: 360px) and (max-width: 768px) {
    .person{
      width: 50% ;
    }
  }

.top-site {
        width: 100%;
        height: 750px;
        background: url("../images/background.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        margin: auto;

        
      }

      @media screen and (min-width: 360px) and (max-width: 768px) {
          .top-site {
            background: url("../images/backgroundmobile.jpg") ;
          }
        }

    



.intro {
    width: 35%;
    margin: auto;
    font-size:larger;
    color:#e8eeee ;
    font-family: "Times New Roman", monospace;

  }



@media screen and (min-width: 360px) and (max-width: 768px) {
    .intro{
      width: 60% ;
    }
  }

.middle-site{
    background-image: url("../images/background2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 10px;


}

p {
    padding-top: 5px;
    line-height: 2;
    color: #e8eeee;
}

.first-page{
    color: #e8eeee;
    font-family: 'Anton', sans-serif;
    font-size: 60px;
    font-weight: normal;
    margin-block-start: 0px;

}
@media screen and (min-width: 360px) and (max-width: 768px) {
    .first-page {
        font-size: 40px;
        padding-top: -10px;
        padding-left: 80px;


    }
  }

.pro {
    text-decoration: underline;
  }

hr {
    width: 100%;
    margin-top: 20px;
}

.skills {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;

  }

.binary{
    width: 15%;


}
@media screen and (min-width: 360px) and (max-width: 768px) {
    .binary{
      width: 40% ;
    }
  }

.my-skills{
    margin-top: 30px;


}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


.stack{
    margin-top: 10px;
    display: inline;

}

.logo_P{
    width: 5%;
}
@media screen and (min-width: 360px) and (max-width: 768px) {
    .logo_P{
      width: 25% ;
    }
  }


.logo_Pa{
    width: 10%;
}
@media screen and (min-width: 360px) and (max-width: 768px) {
    .logo_Pa{
      width: 30% ;
    }
  }

.logo_h{
    width: 8%;
}
@media screen and (min-width: 360px) and (max-width: 768px) {
    .logo_h{
      width: 20% ;
    }
  }

.logo_c{
    width: 5%;
}
@media screen and (min-width: 360px) and (max-width: 768px) {
    .logo_c{
      width: 20% ;
    }
  }

.logo_r{
    width: 10%;
}
@media screen and (min-width: 360px) and (max-width: 768px) {
    .logo_r{
      width: 30% ;
    }
  }

.bottom-container {
    padding: 50px 0 20px;
  }

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
  }

.contact-me{
    margin-top: 50px;
    margin-bottom: 50px;

}

